:root {
  --primary-color: #2924fb;
  --secondary-color: #fd23de;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

body > * {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  column-gap: 1.5rem;
  align-items: center;
  height: 5rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid black;
}

.navbar .navbar-item {
}

.navbar .navbar-title {
  font-family: 'Fira Code', monospace;
  font-size: 2rem;
  color: black;
  text-shadow: var(--secondary-color) 1px -1px, var(--primary-color) -2px 2px;
  transition: text-shadow 0.18s ease-in-out;
}

.navbar .navbar-title:hover {
  text-shadow: var(--primary-color) 2px -1px, var(--secondary-color) -3px 1px;
}

.navbar .navbar-link, .projects h2, .open-source h2 {
  font-size: 1.4rem;
  background-image: url(../img/flashing-smoke.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-link:hover {
  color: var(--primary-color);
  text-shadow: var(--primary-color) 0 0 15px;
}

.banner {
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 700;
  display: block;
  text-align: center;
  margin: -5rem 0 0 0;
}

.banner-animation {
  height: 4rem;
  overflow: hidden;
}

.banner-animation > div > span {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  margin-bottom: 1.7rem;
  display: inline-block;
}

.banner-animation div:first-child {
  animation: flip 4s linear infinite;
}

.banner-animation div span {
  color: var(--primary-color);
  text-shadow: var(--secondary-color) -2px 2px;
}
.banner-animation div:first-child span {
  color: var(--secondary-color);
  text-shadow: var(--primary-color) -2px 2px;
}
.banner-animation div:last-child span {
  color: black;
  text-shadow: var(--secondary-color) 1px -1px, var(--primary-color) -2px 2px;
}

@keyframes flip {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.main-section {
  padding: 6rem 6rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-section h2 {
  font-size: 2rem;
  margin: 0;
}

.main-section p {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 2rem;
  margin-bottom: 0;
}

.main-section .section-description {
  padding: 0 10vw;
  text-align: center;
}

#bio {
  color: white;
  background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color)) no-repeat;
  background-size: 400% 100%;
  background-position: top;
  animation: gradient 15s ease infinite;
  padding-bottom: 8rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.links {
  display: flex;
  gap: 1.3rem;
}

.links a {
  height: 2.8rem;
  width: 2.8rem;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.links a:hover {
  border: 2px solid white;
}

.links a:hover > * {
  color: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

.skills {
  color: black;
  background-color: white;
  border: 1px solid rgb(230, 236, 248);
  border-radius: 0.8rem;
  margin: -6rem 15vw 0 15vw;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  justify-items: center;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills svg {
  color: var(--primary-color);
  height: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 2rem;
  text-align: center;
}

.project-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.project-grid figure {
  margin: 0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

figure img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

figure figcaption {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

figure figcaption, .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in;
}

figure:hover img {
  transform: scale(1.2);
  transition: all 0.5s linear;
}

figure:hover .cover {
  opacity: 1;
  background-color: #030150;
}

figure:hover figcaption {
  opacity: 1;
}

figure:hover a {
  border: 2px solid var(--primary-color);
}

figcaption h3 {
  font-size: 1.5rem;
}

figcaption a {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 1.25rem;
  height: 2.5rem;
  padding: 0 0.75rem;
  transition: all 0.4s ease-in;
}

figcaption a:hover {
  background-color: var(--primary-color);
}

figcaption a span {
  padding-left: 8px;
}

#projects {

}

#open-source {

}