.navbar {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  align-items: center;
  column-gap: 1.5rem;
  line-height: 3rem;
  padding: 0.25rem 2rem;
  border-bottom: 1px solid black;
}

.navbar-title {
  font-family: 'Simplaform';
  font-size: 2.5rem;
  color: black;
  padding-top: 0.25rem;
  text-shadow: var(--secondary-color) 1px -1px, var(--primary-color) -2px 2px;
  transition: text-shadow 0.18s ease-in-out;
  justify-self: start;
}

.navbar-title:hover {
  text-shadow: var(--primary-color) 2px -1px, var(--secondary-color) -3px 1px;
}

.navbar-switch {
  position: relative;
  display: inline-block;
  width: 2.9rem;
  height: 1.5rem;
  cursor: pointer;
}

.navbar-switch:hover > .slider:before {
  box-shadow: var(--primary-color) 0 0 8px;
}

.navbar-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 0.75rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  z-index: 1;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(calc(2.9rem - 1.5rem));
}

.switch-icon {
  height: 1.5rem;
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.moon {
  left: 0.15rem;
}

.sun {
  right: 0.15rem;
}

.navbar-menu {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1.5rem;
}

.navbar-link:hover {
  color: var(--primary-color);
  text-shadow: var(--primary-color) 0 0 15px;
}

.navbar-burger {
  justify-self: end;
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .navbar-menu {
    grid-template-columns: auto;
    grid-column: 1 / -1;
    justify-self: center;
    overflow: hidden;
  }

  .navbar-menu.open {
    max-height: 10rem;
    visibility: visible;
    transition: max-height 0.25s ease-in;
  }
  
  .navbar-menu.close {
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.15s ease-out;
  }

  .navbar-item {
    width: 100%;
    grid-column: 1 / -1;
    text-align: center;
  }

  .navbar-burger {
    display: flex;
  }
}
