footer {
  color: white;
  margin-top: calc(3rem + 2vw);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

footer small {
  font-size: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 1024px) {
  footer {
    margin-top: calc(2rem + 2vw);
  }
}
