a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar .navbar-link, .projects h2, .open-source h2 {
  font-size: 1.4rem;
  background: var(--primary-color);
  background-image: url(./img/flashing-smoke.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
}
