a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.bio {
  padding-bottom: 8rem !important;
}

@keyframes flip {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
